/*General Styling for Index*/
* {
	font-size: 16px;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul {
	margin: 0 !important; padding: 0;
}

li {
	list-style: none;
	height: 100%;
}

a {
	text-decoration: none;
}

.bg-grey {
	background-color: rgba(0, 0, 0, 0.3);
}


/**************************
********** Navbar  ***********
******************************/

.navbar {
	width: 100%;
	height: auto;
	margin: 0;
	padding: 0;
}

#navbar {
	display: flex;
	width: 100%;
}

.nav-wrapper {
	width: 100%;
}

.nav-items {
	display: flex;
	width: 100%;
	height: 100%;
	justify-content: flex-end;
}

.nav-list {
	display: flex;
	align-items: center;
}

.nav-list:hover {
	background-color: aquamarine;
}

.circle-img-fill {
	width: 160px;
	height: 80px;
	background-image: url('https://vignette.wikia.nocookie.net/central/images/d/de/One_Piece_logo.png/revision/latest?cb=20160220025555');
	background-size: cover;
	background-position: 50% 50%;

}